$background-grey: #F2F2F2;
$border-radius-main: 10px;
$padding-main: 20px;
$text-color-grey: #3D3D3D80;
$text-color-green: #5B9B15;
$green-button-background-color: #88C62A;

@font-face {
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: $background-grey;
  padding: 60px 0;

  p {
    margin: 0;
  }

  // Отступы между элементами для row в 20px
  .row .g-20 {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 20px;
  }

  .d-flex.gap-10 {
    gap: 10px;
  }

  .green-button {
    background-color: $green-button-background-color;
    border-radius: 10px;
    border: 0;
    color: #ffffff;
  }
}

.profile-panel-block {
  border-radius: $border-radius-main;
  padding: $padding-main;

  .logo-block {
    padding: 0 54px 20px 54px;
    gap: 17.5px;
    border-bottom: 1px solid #CFE7B8;

    .logo-block-text {
      font-weight: 500;
      font-size: 24px;
    }
  }

  .profile-info-block {
    margin-top: 20px;

    .profile-name {
      font-weight: 600;
      font-size: 22px;
      line-height: 125%;
    }

    .email-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      color: $text-color-grey;
    }

    .organization-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: $text-color-green;
      margin-top: 20px;
    }
  }

  .edit-profile-button {
    font-size: 14px;
    line-height: 100%;
    color: $text-color-green;
    margin-top: 20px;
  }
}

.navigation-block {
  border-radius: $border-radius-main;
  margin-top: 20px;
  background-color: #fff;
  overflow: hidden;

  .navigation-item-wrapper {
    &:first-child .navigation-item {
      border-radius: 10px 10px 0 0;
    }

    &:last-child .navigation-item:last-child {
      border-radius: 0 0 10px 10px;
    }
  }

  .navigation-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;

    &.active {
      background-color: #CFE7B8;

      .navigation-item-text {
        font-weight: 600;
      }
    }

    &:hover:not(.active) {
      background-color: #f5f5f5;
    }

    .navigation-item-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: #3D3D3D;
    }
  }

  .accordion-header {
    .accordion-arrow {
      position: absolute;
      right: 20px;
      font-size: 18px;
      transform: rotate(0deg);
      transition: transform 0.5s ease;

      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  .accordion-content {
    display: none;
    padding: 20px;

    &.expanded {
      display: block;
    }

    .accordion-body {
      padding-left: 20px;
      gap: 20px;
    }
  }

  .navigation-sub-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #3D3D3D;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;

    &.active {
      font-weight: 600;
    }
  }
}


// Общий контейнер для страниц
.main-container {
  .content-block {
    border-radius: $border-radius-main;
    padding: 20px;
    background-color: #ffffff;
  }

  .content-block-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 115%;
    color: #3D3D3D;
  }

  #resourcesCardContainer {
    padding-top: 20px;

    .connected-resource-card {
      background-color: $background-grey;
      padding: 10px 15px;
      border-radius: 10px;

      .connected-resource-card-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: #3D3D3D;
      }
    }
  }
}

// Главная страница (пилл)
#main-page {
  #search-content-block {
    .input-group {
      margin-top: 20px;

      .input-group-text {
        border-radius: 10px 0 0 10px;
        border: 1px solid #E2E2E2;
        padding: 14px 10px 14px 15px;
      }

      .button-wrapper {
        width: 258px;
        border-top: 1px solid #E2E2E2;
        border-bottom: 1px solid #E2E2E2;
        border-radius: 0 8px 8px 0;

        #search-button {
          background-color: $green-button-background-color;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          padding: 0 25px;
          border-radius: 8px;
        }
      }

      input {
        font-size: 14px;
        line-height: 125%;
        padding-left: 10px;
        border-right: 0;


        &::placeholder {
          font-weight: 500;
          color: $text-color-grey;
        }

        &:focus {
          box-shadow: none;
          border-color: #E2E2E2;
        }
      }
    }
  }

  #connected-resources-content-block {
    margin-top: 12px;

    #connect-resource-button {
      background-color: $green-button-background-color;
      padding: 16px 46.5px;
      gap: 10px;
      color: white;
      border-radius: 10px;

      .button-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

  #search-form-code-content-block {
    margin-top: 12px;

    #copy-code-container {
      padding-top: 20px;

      #search-form-code-input {
        background-color: $background-grey;
        padding: 16px 15px;
        border-radius: $border-radius-main;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: $text-color-grey;
        border: none;
      }

      #copy-code-button {
        background-color: $green-button-background-color;
        padding: 0 17.5px;
        border-radius: $border-radius-main;
        border: 1px solid $green-button-background-color;
        transition:
                background-color 0.3s ease,
                border-color 0.3s ease,
                transform 0.2s ease;

        &.copied {
          background-color: #fff;
          outline: 1px solid #5B9B15;

          .button-text {
            color: $text-color-green;
            transition: color 0.3s ease;
          }
        }

        .button-text {
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          color: white;
          transition: color 0.3s ease;
        }
      }
    }
  }
}

#connect-resource-page {
  .content-block-title {
    color: #3D3D3D;

    &.hidden {
      color: #979797;
    }
  }

  .accordion-arrow {
    transition: transform 0.5s ease;
    transform: rotate(0deg);

    &.hidden {
      transform: rotate(180deg);
    }

    &.disabled {
      path {
        fill: #979797;
      }
    }
  }

  .accordion-container {
    display: block;

    &.hidden {
      display: none;
    }
  }

  .connection-status-block {
    margin-top: 20px;

    .connection-status-titles {
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: #3D3D3D;
    }

    .connection-status-points {
      margin-top: 10px;

      .status-line {
        height: 1px;
        width: 46.33%;
        background-color: #979797;

        &.active {
          background-color: #88C62A;
        }
      }

      .point-icon.active {
        circle:first-of-type { fill: #CFE7B8; }
        circle:last-of-type  { fill: #88C62A; }
      }
    }
  }

  #choose-resource-block {
    margin-top: 20px;

    .choose-resource-select {
      .css-13cymwt-control, .css-t3ipsp-control {
        border: none;
        background-color: #F2F2F2;

        .css-hlgwow {
          padding: 16px 15px;

          .css-19bb58m {
            padding: 0;
          }
          .css-19bb58m {
            margin: 0;
          }
        }
      }

      .select__no-options {
        font-size: 16px;
        color: #979797;
      }

      .css-1jqq78o-placeholder {
        line-height: 125%;
        color: #979797;
      }

      // Выпадающее меню
      .css-1nmdiq5-menu {
        box-shadow: none;
        background-color: #F2F2F2;
        border-radius: 0 0 10px 10px;

        // Не выбранный элемент
        .css-10wo9uf-option {
          font-weight: 500;
        }
        // Выбранный элемент
        .css-tr4s17-option {
          background-color: #CFE7B8;
          font-weight: 600;
          color: #3D3D3D;
        }
        // Элемент с hover
        .css-d7l1ni-option {
          background-color: #F2F2F2;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
        .css-10wo9uf-option, .css-tr4s17-option {
          font-size: 16px;
        }
      }
    }
  }

  #connection-setup-block {
    margin-top: 20px;

    .form-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: #3D3D3D;
      margin-top: 10px;
    }

    .fields-block {
      margin-top: 40px;

      .form-label {
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #3D3D3D;
        margin-bottom: 0;
      }

      .form-control {
        margin-top: 10px;
        border-radius: 10px;
        padding: 17px 15px;
        background-color: #F2F2F2;
        border: 0;
        font-size: 14px;
        color: #3D3D3D;

        &::placeholder {
          color: #979797;
          font-weight: 500;
        }

        &:focus {
          box-shadow: none;
        }
      }

      .info-block {
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        color: $text-color-green;
        gap: 5px;
        margin-top: 11px;
      }
    }

    .check-data-button {
      border-radius: 10px;
      color: white;
      background-color: $green-button-background-color;
      padding: 17.5px 64.5px;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      border: 0;
      margin-top: 20px;
      transition: all 0.3s ease;

      &[disabled] {
        background-color: #F2F2F2;
        color: #3D3D3D;
      }
    }
  }

  #connection-status-block {
    margin-top: 20px;

    .accordion-container {
      margin-top: 20px;


      .status-title-block {
        gap: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #3D3D3D;
      }

      .status-text {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 125%;
        color: #3D3D3D;
      }

      .status-buttons-block {
        margin-top: 20px;

        #try-again-button {
          padding: 17.5px 20px;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
        }
      }

      .close-button {
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
      }

      #successful-block {
        .close-button {
          padding: 17.5px 20px;
        }
      }

      #error-block {
        .close-button {
          padding: 16.5px 20px;
          background-color: #fff;
          border: 1px solid #88C62A;
          color: #88C62A;
        }

        #tech-support-block {
          cursor: pointer;
          gap: 5px;
          margin-top: 11px;
          color: $text-color-green;
          font-weight: 500;
          font-size: 14px;
          line-height: 125%;
        }
      }
    }
  }
}

#tech-support-modal {
  .modal-content {
    padding: 40px;
    border: none;
    border-radius: 10px;

    .modal-header {
      padding: 0;
      border: 0;

      .modal-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 115%;
        color: #3D3D3D;
      }

      .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

    .modal-body {
      padding: 20px 0 0 0;

      textarea {
        border-radius: 10px;
        border: 1px solid #E2E2E2;
        padding: 10px 15px;
        resize: none;

        &:focus-visible {
          outline: none;
        }
      }

      .custom-file-button {
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        color: $text-color-green;
        gap: 5px;
        cursor: pointer;
        margin-top: 15px;
      }

      #send-button {
        border-radius: 10px;
        border: 1px solid #88C62A;
        padding: 17.5px 70px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #88C62A;
        margin-top: 15px;
        background-color: #fff;

        &:hover {
          background-color: #88C62A;
          color: #fff;
        }
      }
    }
  }
}